nav{
    background: rgb(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
background: transparent;
padding: 0.9rem;
border-radius: 50%;
display: flex;
color: var(--color-light);
font-size: 1.1rem;
}
nav a:hover{
    background: rgb(0,0, 0,0.3);
}
nav a.active{
  background: var(--color-primary);
  color: var(--color-white);
}

@media Screen and (max-width: 600px) {

  nav{
    left :42%;
    background: rgb(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }
}